name: Test
on: push

env:
  MOZ_HEADLESS: "1"

jobs:
  test-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: 'Create env file'
        run: |
          touch .env
          echo EMAIL_PASSWORD=${{ secrets.EMAIL_PASSWORD }} >> .env
          cat .env
      - run: ls -la
      - run: pip install -r requirements.txt
      - run: python src/manage.py test lists accounts
      - run: chmod +x infra/install_firefox.sh
      - run: bash infra/install_firefox.sh
      - run: pip install selenium
      # - run: wget https://github.com/mozilla/geckodriver/releases/download/v0.36.0/geckodriver-v0.36.0-linux32.tar.gz
      # - run: tar -xvzf geckodriver*
      # - run: chmod +x geckodriver
      # - run: sudo mv geckodriver /usr/local/bin/
      - run: cd src && python manage.py test
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: screendumps
          path: src/functional_tests/screendumps/

  test-js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: chmod +x infra/install_firefox.sh
      - run: bash infra/install_firefox.sh
      - run: cd src/lists/static
      - run: npm install
      - run: npx jasmine-browser-runner runSpecs --config=tests/jasmine-browser-runner.config.mjs
