name: Test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "before"
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - run: ls -la
      - run: pip install -r requirements.txt
      - run: python src/manage.py test lists accounts
      - run: pip install selenium
      - run: cd src && python manage.py test
      - run: echo "after"
