name: Test
on: push

env:
  MOZ_HEADLESS: "1"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "before"
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: 'Create env file'
        run: |
          touch .env
          echo EMAIL_PASSWORD=${{ secrets.EMAIL_PASSWORD }} >> .env
          cat .env
      - run: ls -la
      - run: pip install -r requirements.txt
      - run: python src/manage.py test lists accounts
      - run: sudo apt update -y && sudo apt install -y firefox
      - run: pip install selenium
      - run: /usr/bin/firefox --version
      - run: cd src && python manage.py test
      - run: echo "after"
