name: Test
on: push

env:
  MOZ_HEADLESS: "1"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "before"
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: 'Create env file'
        run: |
          touch .env
          echo EMAIL_PASSWORD=${{ secrets.EMAIL_PASSWORD }} >> .env
          cat .env
      - run: ls -la
      - run: pip install -r requirements.txt
      # - run: python src/manage.py test lists accounts
      - run: /usr/bin/firefox --version
      - run: chmod +x infra/install_firefox.sh
      - run: bash infra/install_firefox.sh
      - run: /usr/bin/firefox --version
      # - run: sudo apt update -y && sudo apt install -y firefox
      - run: pip install selenium
      - run: wget https://github.com/mozilla/geckodriver/releases/download/v0.36.0/geckodriver-v0.36.0-linux32.tar.gz
      - run: tar -xvzf geckodriver*
      - run: chmod +x geckodriver
      - run: sudo mv geckodriver /usr/local/bin/
      - run: /usr/bin/firefox --version
      - run: /usr/local/bin/geckodriver --version
      # - run: cd src && python manage.py test
      - run: python infra/debug-ci.py
      - run: echo "after"
